<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="vportal.api.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <vportal.api.Properties.Settings>
            <setting name="API_URL" serializeAs="String">
                <value>http://localhost:63489/api/</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value>c</value>
            </setting>
            <setting name="password" serializeAs="String">
              <value>c</value>
            </setting>
            <setting name="token" serializeAs="String">
              <value>Hsw+PefKFBSSpTm2DLbbxOv+pD+78rIUVvx3M2YY5tPJxy+GIMYjXimU1IkP115+K9S0vl6etuPqNdeD//n5xqpbAgGChd78MqbSK9zZ42nqM2mPny9wwEOw5VNmr7n3HQqlKiiSNcTbX4zSylC81DLVY+a4KXf9CYUWXGw1eEU=</value>
            </setting>
        </vportal.api.Properties.Settings>
    </applicationSettings>
</configuration>