<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="vportal.api.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <vportal.api.Properties.Settings>
            <setting name="API_URL" serializeAs="String">
                <value>https://rosevector.dedicated.co.za:95/api/</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value>integration</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>1nt3gr@t10n</value>
            </setting>
            <setting name="token" serializeAs="String">
                <value>38,16,31,208,13,4,74,120,239,76,173,151,74,25,137,242,134,252,244,37,134,194,225,131,87,110,244,83,25,46,197,208,135,147,246,193,71,241,122,67,169,137,176,90,196,136,155,119,33,94,122,144,26,203,171,107,19,30,88,163,75,95,69,198,136,84,119,169,228,230,130,220,139,83,76,241,209,31,64,244,197,223,160,68,50,218,86,197,23,234,203,51,11,197,145,150,198,48,99,100,202,11,172,253,66,111,10,139,244,205,70,215,110,115,195,183,58,180,93,150,204,195,219,219,39,47,119,120</value>
            </setting>
        </vportal.api.Properties.Settings>
    </applicationSettings>
</configuration>